<div class="lessee" id="contacts">
    <div style="position: relative;z-index: 100;margin-top: auto;">
        <div class="container-fluid" style="min-height: 90vh;">
            <div class="row" style="margin-bottom: 5vh;">
                <div class="col-12 col-md-6 scali">
                    <h4 class="display-4">About</h4>
                    <p class="display-3" style="max-width: 95%;">
                        As a <b>Full Stack Developer</b> I seek to provide fast and efficient <b>BackEnd</b> for systems to ensure reliable infrastructure for the system. To achieve this I use various technologies including Firebase, MongoDB, AWS, SQL to mention a few.
                        For <b>FrontEnd</b> my motive is to provide a UI(User Interface), which is basically a view for users, with great UX(User Experience).
                        To achieve this I use <b>AngularJS</b> in collaboration with <b>Bootstrap and Material Design for Web Development</b> and <b>Ionic Framework</b> which also incorporates Javascript Frameworks for <b>Web, Desktop, Android and iOS development</b>.
                    </p>
                    <!-- <ng-adsense
                    [adClient]="'ca-pub-7472597196511498'"
                    [display]="'in-article'"
                    [adSlot]="2577942511"
                    [adFormat]="'fluid'"
                    [fullWidthResponsive]="true"
                    ></ng-adsense> -->
                </div>
                <div class="col-12 col-md-6 scali">
                    <div>
                        <h4 class="display-4" style="max-width: 100%;">Contacts</h4>
                    </div>
                    <div>
                        <h4 class="display-4" style="max-width: 100%; color: white;">Email Us:
                            <a href="mailto:njorogesteve31@gmail.com" target="_blank" style="color: #7CE2FC;">
                                <mat-icon aria-label="Mail" class="twink">mail</mat-icon>
                            </a>
                        </h4>
                    </div>
                    <div>
                        <h4 class="display-4" style="max-width: 100%; color: white;">Call Us:
                            <a href="tel:+254725603808" target="_blank" style="color: #7CE2FC;">
                                <mat-icon aria-label="Call" class="twink">call</mat-icon>
                            </a>
                        </h4>
                    </div>
                    <div>
                        <h4 class="display-4" style="max-width: 100%; color: white;">WhatsApp Us:
                            <a href="https://wa.me/254725603808" target="_blank" style="color: #7CE2FC;">
                                <mat-icon aria-label="Whatsapp" class="twink">send</mat-icon>
                            </a>
                        </h4>
                    </div>
                    <!-- <div>
                        <h4 class="display-4" style="max-width: 100%;">Feedback/ Proposal</h4>
                    </div>
                    <form [formGroup]="proposalForm" (validSubmit)="createproposal()" novalidate>
                        <mat-form-field appearance="fill" [color]="'accent'">
                            <mat-label style="color: white;">Name</mat-label>
                            <input matInput style="color: white;" [(ngModel)]="human.name" formControlName="name">
                        </mat-form-field>
                        <mat-form-field appearance="fill" style="color: white;">
                            <mat-label style="color: white;">Select</mat-label>
                            <mat-select style="color: white;" [(ngModel)]="human.type" formControlName="type">
                                <mat-option value="Proposal" style="color: #65026e;">Proposal</mat-option>
                                <mat-option value="Feedback" style="color: #65026e;">Feedback</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill" [color]="'accent'" *ngIf="human.type=='Proposal'">
                            <mat-label style="color: white;">Project Title</mat-label>
                            <input matInput style="color: white;" [(ngModel)]="human.projectTitle" formControlName="projecttitle"
                            (change)="updateTitle(human.projectTitle)">
                        </mat-form-field>
                        <mat-form-field appearance="fill" *ngIf="human.type=='Proposal'">
                            <mat-label style="color: white;">Start Date</mat-label>
                            <input matInput [matDatepicker]="picker" style="color: white;" [(ngModel)]="human.startdate" formControlName="startdate">
                            <mat-datepicker-toggle matSuffix [for]="picker" style="color: white;"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field appearance="fill" *ngIf="human.type=='Proposal'">
                            <mat-label style="color: white;">End Date</mat-label>
                            <input matInput [matDatepicker]="picker" style="color: white;" [(ngModel)]="human.enddate" formControlName="enddate">
                            <mat-datepicker-toggle matSuffix [for]="picker" style="color: white;"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label style="color: white;">Write Feedback/Proposal</mat-label>
                            <textarea style="color: white;" matInput rows="4" [(ngModel)]="human.proposal" formControlName="proposal"></textarea>
                        </mat-form-field>
                        <button mat-raised-button class="uptop2" type="submit" [disabled]="!proposalForm.valid">
                            <mat-icon aria-label="contact mail">contact_mail</mat-icon> Submit
                        </button>
                    </form> -->
                </div>
            </div>
        </div>
    </div>
</div>

