.rightee{
  float: right;
  right: 0;
}

.widthing{
  width: 250px;
}

.rotation{
  transform: rotate(180deg)
}

.whole{
  height: 101vh;
}

.lessee {
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.lessee::before {
  content: "";
  background-image: url('/assets/board-1709188.png');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}

.display-4{
  font-weight: 300;
  font-size: 70px;
  color: white;
  line-height: 1.2;
  margin-left: 10px;
  font-family: 'Agency FB', arial;
  color: #65026e;
}

@media only screen and (max-width: 600px) {
  .display-4{
    font-size: 40px;
  }
}

mat-card-actions a button{
  text-decoration: none;
  width: 100%;
  color: rgb(250, 67, 250);
}

a{
  text-decoration: none;
}

.row{
  margin: 0px;
}

.byoing{
  animation: boinging .8s infinite;
}

@keyframes boinging{
  0%{
    transform: scale(1,1);
  }
  50%{
    transform: scale(1.05,1.05);
  }
  100%{
    transform: scale(1,1);
  }
}

::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.fittings{
  object-fit: cover;
  object-position: center;
  height: 150px;
}
