<div class="lessee" id="mystory">
    <div style="position: relative;z-index: 100;margin-top: auto;">
        <div *ngIf="loading" style="height: 97vh; width: 100%;display: flex;">
            <div style="margin: auto;">
                <div class="sk-folding-cube">
                    <div class="sk-cube1 sk-cube"></div>
                    <div class="sk-cube2 sk-cube"></div>
                    <div class="sk-cube4 sk-cube"></div>
                    <div class="sk-cube3 sk-cube"></div>
                </div>
            </div>
        </div>
        <div class="container-fluid" style="max-width: 100vw;" style="margin: 0px; padding:0px;">
            <div class="row" style="margin: 0px;"> 
                <div class="col-1" style="padding: 0px; margin:0px;max-height: 60px;overflow: hidden;">
                    <ng-adsense
                    [adClient]="'ca-pub-7472597196511498'"
                    [display]="'block'"
                    [adSlot]="2598107901"
                    [adFormat]="'auto'"
                    [fullWidthResponsive]="true"
                    ></ng-adsense>
                </div>
                <div class="col-9" style="margin: 0px;">
                    <div class="container-fluid" style="color: white; padding: 0px 0px; padding-bottom: 40px; margin:0px;" *ngIf="blog">
                        <h1 class="display-4" style="text-align: center;">{{blog.Title}}</h1>
                        <img src="https://us-central1-reaphoster.cloudfunctions.net/app/api/files/getfile?filename={{blog.imageURL}}.png"
                        style="object-fit: contain;object-position: center;width: 100%; max-height: 30vh;">
                        <div>
                            <!-- <ng-adsense
                            [adClient]="'ca-pub-7472597196511498'"
                            [display]="'block'"
                            [adSlot]="6102238645"
                            [adFormat]="'auto'"
                            [fullWidthResponsive]="true"
                            ></ng-adsense> -->
                            <ng-adsense
                            [adClient]="'ca-pub-7472597196511498'"
                            [display]="'in-article'"
                            [adSlot]="2577942511"
                            [adFormat]="'fluid'"
                            [fullWidthResponsive]="true"
                            ></ng-adsense>
                        </div>
                        <div [innerHTML]="blog.story" style="display: block;" class="coder">
                        </div>
                        <div>
                            <!-- <ng-adsense
                            [adClient]="'ca-pub-7472597196511498'"
                            [display]="'block'"
                            [adSlot]="6102238645"
                            [adFormat]="'auto'"
                            [fullWidthResponsive]="true"
                            ></ng-adsense> -->
                            <ng-adsense
                            [adClient]="'ca-pub-7472597196511498'"
                            [display]="'in-article'"
                            [adSlot]="2577942511"
                            [adFormat]="'fluid'"
                            [fullWidthResponsive]="true"
                            ></ng-adsense>
                        </div>
                    </div>
                </div>
                <div class="col-1" style="padding: 0px; margin:0px; max-height: 60px;overflow: hidden;">
                    <ng-adsense
                    [adClient]="'ca-pub-7472597196511498'"
                    [display]="'block'"
                    [adSlot]="2598107901"
                    [adFormat]="'auto'"
                    [fullWidthResponsive]="true"
                    ></ng-adsense>
                </div>
            </div>
        </div>
    </div>
</div>

