<a href="tel:+254-725-603-808" style="display: inline-block;" class="bott">
    <button mat-fab class="ringer" >
        <mat-icon class="ringing" aria-label="Call" style="color: #7CE2FC;">call</mat-icon>
    </button>
</a>
<mat-sidenav-container [hasBackdrop]="true" class="whole">
    <mat-sidenav #drawer id="leftdraw" class="widthing">
        <button mat-button class="nobg" style="outline: none; height: 250px;" (click)="drawer.toggle()" routerLink="/home">
            <img mat-button src="../assets/MyImage0.png" height="200px" width="200px" class="imagemine">
        </button>
        <mat-list>
            <a href="/home#home">
                <button mat-button class="nobg" (click)="drawer.toggle()" routerLink="/home#home">
                    <mat-grid-list cols = "5" style="width: 250px">
                        <mat-grid-tile 
                            [colspan] = "2">
                            <mat-list-item><p><mat-icon aria-label="Home">home</mat-icon></p></mat-list-item>
                        </mat-grid-tile>
                        <mat-grid-tile 
                            [colspan] = "3">
                            <mat-list-item><p>Home</p></mat-list-item>
                        </mat-grid-tile>
                    </mat-grid-list>
                </button>
            </a>
            <mat-divider></mat-divider>
            <a href="/home#portfolio">
                <button mat-button class="nobg" (click)="drawer.toggle()">
                    <mat-grid-list cols = "5">
                        <mat-grid-tile 
                            [colspan] = "2">
                            <mat-list-item><p><mat-icon aria-label="Laptop">laptop_mac</mat-icon></p></mat-list-item>
                        </mat-grid-tile>
                        <mat-grid-tile 
                            [colspan] = "3">
                            <mat-list-item><p>Portfolio</p></mat-list-item>
                        </mat-grid-tile>
                    </mat-grid-list>
                </button>
            </a>
            <mat-divider></mat-divider>
            <a href="/home#socials">
                <button mat-button class="nobg" (click)="drawer.toggle()">
                    <mat-grid-list cols = "5">
                        <mat-grid-tile 
                            [colspan] = "2">
                            <mat-list-item>
                                <p><mat-icon aria-label="Contact">connect_without_contact</mat-icon></p>
                            </mat-list-item>
                        </mat-grid-tile>
                        <mat-grid-tile 
                            [colspan] = "3">
                            <mat-list-item><p>Socials</p></mat-list-item>
                        </mat-grid-tile>
                    </mat-grid-list>
                </button>
            </a>
            <mat-divider></mat-divider>
            <a href="/home#contacts">
                <button mat-button class="nobg button-nav" (click)="drawer.toggle()">
                    <mat-grid-list cols = "5">
                        <mat-grid-tile 
                            [colspan] = "2">
                            <mat-list-item>
                                <p><mat-icon aria-label="Contact">contacts</mat-icon></p>
                            </mat-list-item>
                        </mat-grid-tile>
                        <mat-grid-tile 
                            [colspan] = "3">
                            <mat-list-item><p>Contact</p></mat-list-item>
                        </mat-grid-tile>
                    </mat-grid-list>
                </button>
            </a>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav position="end" #ender id="rightdraw" class="widthing">
        <button mat-button class="nobg" style="outline: none;height: 250px;" (click)="ender.toggle()" routerLink="/blog">
            <img mat-button src="../assets/stevieapp3.png" height="100px" width="200px" class="imagemine2">
        </button>
        <mat-list>
            <a href="https://stevieapp.blogspot.com/" target="_blank">
                <button mat-button class="nobg" (click)="ender.toggle()">
                    <mat-grid-list cols = "5">
                        <mat-grid-tile 
                            [colspan] = "2">
                            <mat-list-item>
                                <p><mat-icon aria-label="Home">web</mat-icon></p>
                            </mat-list-item>
                        </mat-grid-tile>
                        <mat-grid-tile 
                            [colspan] = "3">
                            <mat-list-item><p>Blog</p></mat-list-item>
                        </mat-grid-tile>
                    </mat-grid-list>
                </button>
            </a>
            <mat-divider></mat-divider>
        </mat-list>
    </mat-sidenav>
    <section class="overflowing">
        <button mat-raised-button (click)="drawer.toggle()" class="uptop" style="background: none;position: absolute;">
            <mat-icon aria-label="Open Menu" class="rotation">menu_open</mat-icon>
        </button>
        <button mat-raised-button (click)="ender.toggle()" class="rightee uptop" style="background: none;position: absolute;">
            <mat-icon aria-label="Open Menu">menu_open</mat-icon>
        </button>
        <div class="custom-shape-divider-top-1613575268">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
                <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
                <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
            </svg>
        </div>
        <router-outlet></router-outlet>
    </section>
</mat-sidenav-container>