<div class="lessee" id="blog">
    <div style="position: relative;z-index: 100;margin-top: auto;">
        <div *ngIf="!blogs" style="height: 97vh; width: 100%;display: flex;">
            <div style="margin: auto;">
                <div class="sk-folding-cube">
                    <div class="sk-cube1 sk-cube"></div>
                    <div class="sk-cube2 sk-cube"></div>
                    <div class="sk-cube4 sk-cube"></div>
                    <div class="sk-cube3 sk-cube"></div>
                </div>
            </div>
        </div>
        <div *ngIf="blogs">
            <h4 class="display-4" style="text-align: center;max-width: 97vw;">Blog</h4>
            <div class="container" style="min-height: 90vh;">
                <div class="row" style="margin-bottom: 5vh;">
                    <!-- <div *ngFor="let blog of blogs">
                        <img src="https://us-central1-reaphoster.cloudfunctions.net/app/api/files/getfile?filename={{blog.imageURL}}.png"
                        style="object-fit: contain;object-position: center;width: 100%;">
                        <h1 style="color: white;" *ngIf="blog.Title && blog.Topic && !blog.SubTopic">{{blog.Topic }} > {{blog.Title}}</h1>
                        <h1 style="color: white;" *ngIf="blog.Title && blog.Topic && blog.SubTopic">{{blog.Topic }} > {{blog.SubTopic }} > {{blog.Title}}</h1>
                        <div [innerHTML]="blog.story" style="color: white;display: block;" class="coder">
                        </div>
                    </div> -->
                    <mat-card style="padding: 10px; background: none; color: white; margin: 10px 0;max-height: 45vh; 
                    border: solid 1px white; overflow-y: hidden;overflow-x: hidden;" *ngFor="let blog of blogs">
                            <img src="https://us-central1-reaphoster.cloudfunctions.net/app/api/files/getfile?filename={{blog.imageURL}}.png"
                            style="object-fit: contain;object-position: center;width: 100%; max-height: 20vh;">
                            <div>
                                <br>
                                <h2>{{blog.Title}}</h2>
                                <div [innerHTML]="blog.story" style="display: block;" class="coder">
                                </div>
                                <div style="float: right;z-index: 1000;width: 87px;">
                                    <a href="{{blog.ButtonLink}}" class="hoverer" style="display: inline-block;" style="position: absolute;
                                    bottom: 0; float: right; text-decoration: none; color: white;">
                                    <!-- target="_blank" -->
                                        <button mat-button class="byoing" style="background: #65026e;">{{blog.ButtonText}}</button>
                                    </a>
                                </div>
                            </div>
                    </mat-card>
                </div>
            </div> 
        </div>
    </div>
</div>

