/* You can add global styles to this file, and also import other style files */
//@import url('https://allfont.net/cache/css/agency-fb.css');
@font-face{
    font-family:agency fb;font-style:normal;font-weight:400;
    src:local('Agency FB'),
    local('AgencyFB-Regular'),
    url('assets/AgencyFB.woff2') format('woff2'),
    url('assets/AgencyFB.woff') format('woff'),
    url('assets/AgencyFB.ttf') format('truetype')}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-select-value-text {
    color: white !important;
}

.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}
  
.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); 
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #7CE2FC;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s; 
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0; 
    } 25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1; 
    } 90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0; 
    } 
}
  
@keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0; 
    } 25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0; 
    }
}

@keyframes gradient-border-move {
    0% {
        box-shadow: 0 0 0 2px #7CE2FC, /* Red */
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent;
    }
    6.25% {
        box-shadow: 0 0 0 0 transparent,
                    0 0 0 2px #7CE2FC, /* Orange */
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent;
    }
    12.5% {
        box-shadow: 0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 2px #7CE2FC, /* Yellow */
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent;
    }
    18.75% {
        box-shadow: 0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 2px #7CE2FC, /* Green */
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent;
    }
    25% {
        box-shadow: 0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 2px #7CE2FC, /* Blue */
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent;
    }
    31.25% {
        box-shadow: 0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 2px #7CE2FC, /* Indigo */
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent;
    }
    37.5% {
        box-shadow: 0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 2px #7CE2FC, /* Violet */
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent;
    }
    43.75% {
        box-shadow: 0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 2px #7CE2FC, /* Red */
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent;
    }
    50% {
        box-shadow: 0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 2px #7CE2FC, /* Orange */
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent;
    }
    56.25% {
        box-shadow: 0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 2px #7CE2FC, /* Yellow */
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent;
    }
    62.5% {
        box-shadow: 0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 2px #7CE2FC, /* Green */
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent;
    }
    68.75% {
        box-shadow: 0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 2px #7CE2FC, /* Blue */
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent;
    }
    75% {
        box-shadow: 0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 2px #7CE2FC, /* Indigo */
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent;
    }
    81.25% {
        box-shadow: 0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 2px #7CE2FC, /* Violet */
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent;
    }
    87.5% {
        box-shadow: 0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 2px #7CE2FC, /* Red */
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent;
    }
    93.75% {
        box-shadow: 0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 2px #7CE2FC, /* Orange */
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent;
    }
    100% {
        box-shadow: 0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent,
                    0 0 0 2px #7CE2FC; /* Yellow */
    }
}